@import 'style/design.scss';

@mixin carousel-hud {
	position: absolute;
}

.carousel {
	position: relative;
	width: 100%;

	#image-wrapper img {
		aspect-ratio: 1;
		width: 100%;
		object-fit: cover;
		border-radius: $border-radius;

		@media (min-width: $min-desktop-size) {
			aspect-ratio: 3;
		}
	}

	#image-wrapper .image-hide {
		display: none;
	}

	.carousel-prev-button, .carousel-next-button, .image-count-display {
		@include carousel-hud;
	}

	.carousel-prev-button, .carousel-next-button {
		border: none;
		background: none;
		cursor: pointer;
		height: 10%;
		margin: 0 2%;
		padding: 0;
		transform: translate(0, -50%);

		svg {
			height: 100%;
			width: 100%;
		}
	}

	.carousel-prev-button {
		top: 50%;
		left: 0;
	}

	.carousel-next-button {
		top: 50%;
		right: 0;
	}

	.image-count-display {
		left: 50%;
		bottom: 0;
		margin: 0 0 2% 0;
		color: $tertiary-color;
	}
}
