@import 'style/design.scss';

.tags-wrapper {
	display: inline-flex;
	gap: 10px;

	@media (min-width: $min-desktop-size){
		gap: 30px;
	}
}

.tags-wrapper .tag-item {
	background-color: $primary-color;
	border-radius: $border-radius;
	padding: 5px 30px;

	color: $tertiary-color
}
