@import 'style/design.scss';

.collapse {
	color: white;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;

	display: flex;
	flex-direction: column;
	position: relative;
}

.collapse>button {
	background-color: $primary-color;
	color: $tertiary-color;
	border: none;
	width: 100%;
	height: 60px;
	margin: 0;
	padding: 20px;
	border-radius: $border-radius;

	position: absolute;
	z-index: 1;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.collapse .arrow-icon {
	fill: white;
	transition: rotate 0.4s ease-in-out;
}

.collapse .arrow-rotate {
	rotate: 180deg;
}

.collapse > .content {
	display: flex;
	flex-direction: column;
	padding: 60px 13px 0px 13px;
	transition: max-height 0.4s ease-in-out;
	max-height: 0px;
	overflow: hidden;

	background-color: $tertiary-color-2;
	color: $primary-color;
	position: relative;

	border-radius: $border-radius;
}

.collapse > .open {
	max-height: 200px;
}
