@import 'style/design.scss';


header.header-wrapper {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;

	.kasa-logo {
		fill: $primary-color;
		width: 50%;
	}

	@media (min-width: $min-desktop-size) {
		.kasa-logo {
			width: 25%;
		}
	}

	nav {
		width: 50%;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
	}

	.spacer {
		height: 0px;
		width: 15%;
	}

	.select-nav {
		text-decoration: underline!important;
	}
}
