@use 'style/design.scss';

.header-wrapper {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.header-wrapper img {
	width: 50%;
	max-width: 200px;
}

.header-wrapper nav {
	width: 50%;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.header-wrapper .spacer {
	height: 0px;
	width: 15%;
}
